/* Resize the CMS logo */
.svg-logo {
  max-width: 70%;
  height: auto;
  color: #ff0082;
}

/* Hide the Decap logo */
[class*="NetlifyCreditIcon"] {
  display: none !important;
}

/* Hide the Netlify logo */
a.callOut[href*="netlify.com"] {
  display: none !important;
}
