:root {
  --filter-logo: brightness(0) saturate(100%) invert(26%) sepia(69%)
    saturate(4649%) hue-rotate(218deg) brightness(94%) contrast(93%);
}

/* Resize and color the CMS logo */
[class*="CustomIconWrapper"] img {
  max-width: 50%;
  filter: var(--filter-logo);
}

/* Hide Decap logo*/
[class*="NetlifyCreditIcon"] {
  display: none !important;
}
