:root {
  --primary-color: #ff0082;
  --logo-filter: invert(13%) sepia(99%) saturate(7471%) hue-rotate(316deg)
    brightness(101%) contrast(101%);
}

/* Resize and color the CMS logo */
[class*="CustomIconWrapper"] img {
  max-width: 70%;
  height: auto;
  filter: var(--logo-filter);
}

/* Hide Decap logo*/
[class*="NetlifyCreditIcon"] {
  display: none;
}
