<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ .Site.Params.description }}" />

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }}

    <title>
        {{ if .IsHome }}
        {{ .Site.Title }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>

    {{ partial "base/scripts.html" . }}
    <link rel="stylesheet" href="/css/build.css" />
</head>